$containerMaxWidth: 1520px;
$containerPadding: 0 100px;
$sectionPaddingBottom: 68px;
$colorZag_1: #202020;
$gapGrid: 30px;
$colorZag: #ffffff;
$colorText: wheat;
$colorBtn: #FF5900;
$colorFon: dimgrey;